{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew install <<EOF
cleanshot
docker
htop
gettext
curl
deployer
mkcert
mas

bartender
colorsnapper
insomnia
microsoft-teams
tableplus
google-chrome
1password
kitty
jetbrains-toolbox
numi"br
sketch
slack
tower
transmit
visual-studio-code
EOF
{{ end -}}
