{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
cask "cleanshot"
cask "docker"
cask "htop"
cask "gettext"
cask "curl"
cask "deployer"
cask "mkcert"
cask "mas"

## Applications

cask "bartender"
cask "colorsnapper"
cask "insomnia"
cask "microsoft-teams"
cask "tableplus"
cask "google-chrome"
cask "1password"
cask "kitty"
cask "jetbrains-toolbox"
cask "numi"
cask "sketch"
cask "slack"
cask "tower"
cask "transmit"
cask "visual-studio-code"
EOF
{{ end -}}
